@model DecoreApp.ViewModels.EventViewModel
@{
    ViewBag.Title = "Event Page";
}


<style>
    .events {
        margin-top: 50px;
    }

    .event {
        margin-bottom: 30px;
    }

    .thumbnail {
        background-color: #FFF;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        border-radius: 4px;
        color: #444444;
    }
</style>


<div class="events" style="display: block">
    @foreach (var item in Model.Events)
    {
        <div class="row event">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="thumbnail">
                    <img src="http://lazyacres.events/wp-content/uploads/2015/08/events.jpg" alt="event image">
                    <div class="caption">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

