@model Decore.ClientApp.ViewModels.BeverageViewModel

@{
    ViewBag.Title = "Alcohol Page";
}

<style>

</style>


<div class="row content">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="form-box">
            <h2 class="text-center">Uppvägning</h2>
            <div class="inner-form">

                
                <form id="myForm" class="form-group">        
                   
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" class="form-control">
                    
                    
                    <!-- Dropdown pass id -->
                    <label for="beverage">Beverage</label>
                    <input type="number" name="beverage" id="beverageId" class="form-control">
                    
                    <!-- Dropdown pass id -->
                    <label for="unit">Unit Of Measurment</label>
                    <input type="number" name="unit" id="unitId" class="form-control">
                    
                    

                    <button type="button" class="btn btn-primary onAdd">Lägg till</button>
                </form>

                <hr/>
                
                


                <ul id="measureListUl">
                    
                </ul>

                <button type="button" class="btn btn-primary onPostButton">POST</button>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        
    </script>

    <script>
        $(document)
            .ready(function() {


                var records = [];


                $("#myForm").on("click", ".onAdd", function () {

                    var amount = $('#amount').val();
                    var unitId = $('#unitId').val();
                    var beverageId = $('#beverageId').val();
                    records.push({ BeverageId: beverageId, Amount: amount, UnitId: unitId });

                    $("#measureListUl").append("" +
                        "<li>" +
                            "<p>" +
                                "Amount: " + amount +  " " +  "Beverage: " + beverageId +
                            "</p>" +
                        "</li>");
                });


                $(".onPostButton").on("click", function () {

                    var results = records;

                    $.post('@Url.Action("PostCountBeverage", "Alcohol")', { results: results },
                        function () {
                            console.log('success');
                        });
                });


                


            });

    </script>
}